.form-main {
    top: 10%;
    left: 10%;
    padding: 15px;
    background: rgba(255, 255, 255, 0.8);
}

.btn-to-right {
    text-align: right;
}

.button-logout {
    background: rgba(255, 255, 255, 1);
    border: 1px solid #333;
    font-size: 20px;
    margin-bottom: 10px;
    color: #383636;
    line-height: 1em;
    padding: 0.5em 0.5em;
    transition: all 0.5s;
}

.button-logout:hover {
    background: #333;
    color: #fff;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #c49c01;
}

th, td {
    padding: 20px;
}